FORMAT: 1A
HOST: http://www.openehr.org/api

<!-- include(overview.apib) -->

# Group EHR

## EHR [/ehrs]

Management of EHR resources.

### Create a new EHR [POST /ehrs]

Create a new `EHR` with an auto-generated identifier.
Request body may contain `ehr_status` attribute. When provided it
will also be created as part of the same request,
otherwise default resources will be created automatically by the service.
Default EHR_STATUS will have the following defaults:
- `is_queryable`: true
- `is_modifiable`: true

All other attributes will be left empty (null).


+ Request

    + Headers

            Prefer: return={representation|minimal}

    + Body

            {
                "ehr_status": {
                  "is_modifiable": "true"
                  ...
                }
            }

+ Response 201 (application/json)

    `201 Created` is returned when a new EHR has been successfully created. 
    The EHR resource is returned in the body when the `Prefer` header has the value of `return=representation`.

    + Headers

            Location: /ehrs/{ehrId}

    + Body

            {
                "system_id": {...},
                "ehr_id": {...},
                "ehr_status": "versioned ehr status uid",
                "time_created", "..."
            }

+ Response 400

    `400 Bad Request` is returned when unable to parse the request body if provided.

    + Body


### Create a new EHR with custom (user supplied) ehrId [PUT /ehrs/{ehrId}]

Create new `EHR` with the specified EHR identifier. 
Request body may contain `ehr_status` attribute. When provided it
will also be created as part of the same request,
otherwise default resources will be created automatically by the service.
Default EHR_STATUS will have the following defaults:
- `is_queryable`: true
- `is_modifiable`: true

All other attributes will be left empty (null).

+ Parameters

    + ehrId (string) - User supplied EHR id

+ Request

    + Headers

            Prefer: return={representation|minimal}

    + Body

            {
                "ehr_status": {
                  "is_modifiable": "true"
                  ...
                }
            }

+ Response 201 (application/json)

    `201 Created` is returned when a new EHR has been successfully created. 
    The new EHR resource is returned in the body when the request's `Prefer` header value is `return=representation`.

    + Headers

            Location: /ehrs/{ehrId}

    + Body

            {
                "system_id": {},
                "ehr_id": {},
                "ehr_status": "versioned ehr status uid",
                "time_created", "..."
            }

+ Response 400

    `400 Bad Request` is returned when unable to parse the request body if provided.

    + Body

+ Response 409

    Unable to create a new EHR due to a conflict with an already existing EHR.
    Can happen when the supplied ehrId is already already used by an existing EHR.

    + Body


### Get EHR [GET /ehrs/{ehrId}]
Retrieve the EHR with the specified `ehrId`.

+ Parameters

    + ehrId (string) - EHR identifier

+ Response 200 (application/json)

    `200 OK` is returned when the EHR resource is successfully retrieved. 
    
    + Body

            {
                "system_id": {},
                "ehr_id": {},
                "ehr_status": "versioned ehr status uid",
                "time_created", "...",
                ... // to be defined, possibly counts of compositions, contributions, etc.
            }

+ Response 400

    `400 Bad Request` might be returned if the server validates the syntax of the supplied ehrId, but this is not mandatory.

    + Body
    
+ Response 404

    `404 Not Found` is returned when an `EHR` with `ehrId` does not exist.

    + Body
